header,footer{
    background-color: rgb(46, 93, 95);
    color: rgb(146, 190, 226);
    padding: 1em;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    clear: left;
}

body{
    background-color: gray;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    border-style: solid;
    border-radius: 8px;
    padding: 2px;
}

p{
    border: 2px solid burlywood;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

nav{
    background-color: burlywood;
    padding: 1em;
}

.wrapper{
    display:flex;
}

.wrapper >div{
    flex: 1;
    text-align: center;
}

section{
    float: left;
    width: 55%;
    color: rgb(146, 190, 226);
    height: 230px;
    padding: 1em;
}

aside{
    float: right;
    width: 25%;
    color: rgb(146, 190, 226);
    height: 230px;
    padding: 1em;
}

article{
    float: left;
    width: 55%;
    padding: 1em;
    color: rgb(146, 190, 226);
    height: 230px;
}

dogs{
    border-radius: 8px;
    float: right;
    size-adjust: 10px  ;
}